youtube-transcript-api==1.1.0
langchain==0.3.25
openai==1.77.0
pydantic==2.11.4
python-dotenv==1.1.0
requests==2.32.3
langgraph==0.4.3
langchain-community==0.3.23
langchain-google-genai==2.1.9
langchain-ollama==0.3.3
langsmith==0.3.45
fastapi==0.115.9
uvicorn==0.34.2
langchain-openai==0.3.16
beautifulsoup4==4.13.4
firecrawl==2.15.0
yt-dlp==2025.6.9
typing-extensions==4.13.2