youtube-transcript-api==1.1.0
langchain
openai
pydantic
python-dotenv
requests
langgraph
langchain_community
langchain-google-genai
langchain-ollama
langsmith
fastapi
uvicorn
langchain-openai
beautifulsoup4
firecrawl
yt-dlp
dotenv
typing-extensions